
#container > {
    display: flex;
    flex-flow: row wrap;
    width: 1em;
    height: 4em;

}
.container .container3  
{
    display: flex;
    width: 100px;
    flex-flow: column;
    justify-content:left;
}