#box{
    width: 200px;
    background-color: antiquewhite;
    text-align: center;
}

ul  {
    list-style-type: none;
   margin: 0; 
   padding: 0; 
   overflow: hidden; 
   background-color: rgb(243, 232, 232);
   position: fixed;
   top: 0.5em;
   width: 100% ;
 }

 li {
  float: left;
  padding: 3em;

 
}

a:hover {
  background-color: #d8e2dc;
  color: white;
  font-size: 30px;
}
